# conda create --name gemma python=3.10
# conda activate gemma
torch==2.6.0
transformers==4.55.0
peft==0.17.0
trl==0.19.1
datasets==4.0.0
wandb==0.21.1
Pillow==11.3.0
fastapi==0.116.1
uvicorn[standard]==0.35.0
python-multipart==0.0.20